html, body {
    margin: 0;
    padding: 0;
}

h1 {
    color: whitesmoke;
}

#hero {
    margin: 0px auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    background-color: #1B244A;
}

#hero-scoreboard {
    display: flex;
    justify-content:space-around ;
}

button {
     background-color: inherit;
     border-color: #9AABD8;
     border-radius: 5px;
     padding: 10px;
     color: #9AABD8
}

#btn-reset {
    margin-top: 10px;
    width: 84%;
}

.scoreboard {
    background-color: black;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px ;
    border-radius: 5px;
}

.scoreboard p {
    color: #f94f6d;
    font-size: 50px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}